DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aquasentinel
JWT_SECRET=supersecretjwtkey_please_change_in_production
NASA_EARTHDATA_USERNAME=your_username
NASA_EARTHDATA_PASSWORD=your_password
NASA_GIBS_BASE_URL=https://gibs.earthdata.nasa.gov/wmts/epsg4326/best/
NASA_CMR_BASE_URL=https://cmr.earthdata.nasa.gov/search/
NASA_OCEAN_COLOR_BASE_URL=https://oceandata.sci.gsfc.nasa.gov/api/
COPERNICUS_USERNAME=your_copernicus_user
COPERNICUS_PASSWORD=your_copernicus_password
UPLOAD_DIR=uploads
