fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests
python-dotenv
groq
bcrypt
numpy
pandas
opencv-python-headless
